/* Dark mode colour settings */
.bgColorDark {
    background-color: black !important;
}

.fontColorDark {
    color: white !important;
}

/* Light mode colour settings */
.bgColorLight {
    background-color: white !important;
}

.fontColorLight {
    color: black !important;
}